* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #023;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 800px;
  margin: 30px auto;
  align-items: center;
  display: flex;
  background-color: #fff;
  box-shadow: 0px 1px 2px #fff;
  color: #000;
  line-height: 2em;
  border-radius: 10px;
}
.top__wrapper {
  width: 100%;
  height: 460px;
  overflow: hidden;
}
.top__wrapper > img {
  width: 100%;
  height: 460px;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .top__wrapper {
    height: 100%;
  }
  .top__wrapper > img {
    height: 100%;
  }
}
.middle__wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.middle__wrapper > h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 3em;
  font-size: 30px;
  font-weight: 800;
}
@media screen and (max-width: 600px) {
  .middle__wrapper > h1 {
    line-height: 2em;
    text-align: left;
  }
}
.middle__wrapper > h2:nth-child(2) {
  font-size: larger;
  margin-bottom: 8px;
  font-weight: 800;
}
.middle__wrapper > h2 {
  font-size: medium;
  line-height: 1.8em;
  font-weight: 600;
}
.middle__wrapper > ol {
  margin-left: 50px;
  padding-top: 30px;
  font-size: large;
  font-weight: 700;
  line-height: 2.5em;
}
.bottom__wrapper {
  padding: 40px;
}
.task__wrapper {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  gap: 20px;
}
.icon {
  font-size: 50px;
  color: rgb(33, 92, 175);
}
.task__content {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.task__content a {
  text-decoration: none;
  color: #023;
}
.task__content:hover {
  border-color: #023;
  transition: all 0.3s ease-in-out;
  font-weight: 800;
  cursor: pointer;
}
